import init.smdk4210.usb.rc

on early-init
	export BOOTCLASSPATH /system/framework/core.jar:/system/framework/core-junit.jar:/system/framework/bouncycastle.jar:/system/framework/ext.jar:/system/framework/framework.jar:/system/framework/android.policy.jar:/system/framework/services.jar:/system/framework/apache-xml.jar:/system/framework/filterfw.jar:/system/framework/wimax_service.jar

    # Export SDCARD---***
    export EXTERNAL_STORAGE /mnt/sdcard
    export EXTERNAL_STORAGE2 /mnt/sdcard/external_sd
    export USBHOST_STORAGE /mnt/sdcard/usbStorage
	
    mkdir /mnt/sdcard 0000 system system
	#mkdir /mnt/emmc 0775 system system
    #mkdir /mnt/usbStorage 0775 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard
	#symlink /mnt/emmc /emmc
	
    # Vibetonz
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 shell shell
    
    mkdir /mnt/.lfs 0755 root root    
	
# Disable CFQ slice idle delay
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0

    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0
	
# FIXME: permissions for tvout
	chmod 0777 /dev/graphics/fb0
	chmod 0777 /dev/graphics/fb10
	chmod 0777 /dev/graphics/fb11	
    chown media graphics /sys/class/switch/hdmi
    chmod 0777 /sys/class/switch/hdmi

	# usb public mount points.
    mkdir /mnt/usb 0700 root system
    mount tmpfs tmpfs /mnt/usb mode=0755,gid=1000
	
# FIXME: permission for HDMI audio path
    chown media audio /sys/class/hdmi_audio/hdmi_audio/hdmi_audio_set_ext
	chmod 0777 /sys/class/hdmi_audio/hdmi_audio/hdmi_audio_set_ext
	
# ko files for VIbrator
   insmod /lib/modules/vibrator.ko

# ko files for wimax
    insmod /lib/modules/cmc7xx_sdio.ko	
   
#on init
#    stop ril-daemon
    
on fs
# mount ext4 partitions
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    mount ext4 /dev/block/mmcblk0p9 /system
    mount ext4 /dev/block/mmcblk0p9 /system rw wait remount
    mount ext4 /dev/block/mmcblk0p10 /data wait nosuid nodev noatime
    mount ext4 /dev/block/mmcblk0p7 /cache nosuid nodev noatime

# SEC_DMCRYPT move mounting efs befor apply_disk_policy, and set group id to system
    mkdir /efs
    #mount rfs /dev/block/mmcblk0p1 /efs nosuid nodev check=no
    mount ext4 /dev/block/mmcblk0p1 /efs nosuid nodev noatime wait 
    chown radio system /efs
    chmod 0771 /efs
	
#	service logthis /system/bin/logthis.sh
	#user root
	
on post-fs

    # verfiy filesystem (UMS)
#	exec apply_system_policy /dev/block/mmcblk0p11 vfat
	
    # once everything is setup, no need to modify /
    mount rootfs rootfs / ro remount

  #  insmod /lib/modules/j4fs.ko
   # mount j4fs /dev/block/mmcblk0p4 /mnt/.lfs

    # We chown/chmod /cache again so because mount is run as root + defaults
    chown system cache /cache
    chmod 0770 /cache

    # This may have been created by the recovery system with odd permissions
    chown system cache /cache/recovery
    chmod 0770 /cache/recovery

    #change permissions on vmallocinfo so we can grab it from bugreports
    chown root log /proc/vmallocinfo
    chmod 0440 /proc/vmallocinfo

    # create the lost+found directories, so as to enforce our permissions
    mkdir /cache/lost+found 0770

    # double check the perms, in case lost+found already exists, and set owner
    chown root root /cache/lost+found

    chmod 0770 /cache/lost+found
	
	mkdir /efs/bluetooth
    mkdir /efs/wifi
    chown radio system /efs/bluetooth
    chown radio system /efs/wifi
    chmod 0775 /efs/bluetooth
    chmod 0775 /efs/wifi

on post-fs-data
    #change permissions on kmsg & sysrq-trigger so bugreports can grab kthread stacks
    chown root system /proc/kmsg
    chmod 0440 /proc/kmsg
    chown root system /proc/sysrq-trigger
    chmod 0220 /proc/sysrq-trigger
	
	mkdir /system/etc/wifi 0770 wifi wifi
	chmod 0770 /system/etc/wifi
	chmod 0660 /system/etc/wifi/wpa_supplicant.conf
	chown wifi wifi /system/etc/wifi/wpa_supplicant.conf
	#wpa_supplicant control socket for android wifi.c (android private socket)
	mkdir /data/misc/wifi 0770 wifi wifi
	mkdir /data/misc/wifi/sockets 0770 wifi wifi
	chmod 0770 /data/misc/wifi
	chmod 0660 /data/misc/wifi/wpa_supplicant.conf
	chown wifi wifi /data/misc/wifi
	chown wifi wifi /data/misc/wifi/wpa_supplicant.conf 

    # give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/misc/wifi 0770 wifi wifi
    chmod 0770 /data/misc/wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    
    # GPS
    chown root system /dev/ttySAC1
    chmod 0660 /dev/ttySAC1
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value
    chown root system /sys/class/sec/gps/GPS_nRST/value
    chmod 0664 /sys/class/sec/gps/GPS_nRST/value
    mkdir /data/gps 771 system system
    chown system system /data/gps
	
    # allow net_raw to have access to /dev/socket directory
    chown root net_raw /dev/socket
    chmod 0775 /dev/socket
 
    # USB Device permission
    chown system system /sys/devices/platform/android_usb/UsbMenuSel
    chown system system /sys/devices/platform/android_usb/tethering

    # USB HUB permission
    chown radio radio /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port

    # USB switch permission
    chown radio radio /sys/class/sec/switch/set_usb_path

#SISO-PLAYREADY-CHANGES
#DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm

    # Added for Playready DRM Support
    mkdir /data/data/.drm 0775
    chown drm system /data/data/.drm
    chmod 0775 /data/data/.drm
    mkdir /data/data/.drm/.playready 0775
    chown drm system /data/data/.drm/.playready
    chmod 0775 /data/data/.drm/.playready

    #Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775
    chown root root /system/lib/drm
    chmod 0775 /system/lib/drm
#SISO-PLAYREADY-CHANGES

    # DivX DRM
    mkdir /efs/.files 0775
    mkdir /efs/.files/.dx1 0775
    mkdir /efs/.files/.dm33 0775
    mkdir /efs/.files/.mp301 0775

# Device Encryption by B2B Security Lab. 
    setprop vold.post_fs_data_done 1
    
 #   chown system system /sys/devices/platform/usb_mass_storage/lun0/file
 #   chmod 0660 /sys/devices/platform/usb_mass_storage/lun0/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr
	

# NFC
    setprop ro.nfc.port "I2C"
    chmod 0600 /dev/pn544
    chown nfc nfc /dev/pn544

# Added by Yamaha Corporation. -----------------------------------------
    # setup for alsa snd device
    chmod 0770 /dev/snd/pcmC0D0c
    chmod 0770 /dev/snd/pcmC0D0p
    chmod 0770 /dev/snd/controlC0
    chmod 0770 /dev/snd/timer
    chmod 0770 /dev/snd/hwC0D0
#-----------------------------------------------------------------------

# Device control nodes for WiMAX
exec /system/xbin/busybox mknod -m 0660 /dev/swmxctl c 234 0
exec /system/xbin/busybox mknod -m 0660 /dev/uwibro c 233 0
chown system system /dev/swmxctl
chown system system /dev/uwibro       

on boot
# Define the oom_adj values for the classes of processes that can be
# killed by the kernel.  These are used in ActivityManagerService.
    setprop ro.FOREGROUND_APP_ADJ 0
    setprop ro.VISIBLE_APP_ADJ 1
    setprop ro.PERCEPTIBLE_APP_ADJ 2
    setprop ro.HEAVY_WEIGHT_APP_ADJ 3
    setprop ro.SECONDARY_SERVER_ADJ 4
    setprop ro.BACKUP_APP_ADJ 5
    setprop ro.HOME_APP_ADJ 6
    setprop ro.HIDDEN_APP_MIN_ADJ 7
    setprop ro.EMPTY_APP_ADJ 15

# Define the memory thresholds at which the above process classes will
# be killed.  These numbers are in pages (4k).
    # These are currently tuned for tablets with approx 1GB RAM.
    setprop ro.FOREGROUND_APP_MEM 8192
    setprop ro.VISIBLE_APP_MEM 10240
    setprop ro.PERCEPTIBLE_APP_MEM 12288
    setprop ro.HEAVY_WEIGHT_APP_MEM 12288
    setprop ro.SECONDARY_SERVER_MEM 14336
    setprop ro.BACKUP_APP_MEM 14336
    setprop ro.HOME_APP_MEM 14336
    setprop ro.HIDDEN_APP_MEM 16384
    setprop ro.EMPTY_APP_MEM 20480
	
	setprop net.tcp.buffersize.wimax   4096,524288,1048576,4096,16384,110208
    
    chown system system /sys/class/backlight/pwm-backlight/brightness
    chmod 0660 /sys/class/backlight/pwm-backlight/brightness
    chown system system /sys/devices/virtual/misc/melfas_touchkey/brightness
    chmod 0660 /sys/devices/virtual/misc/melfas_touchkey/brightness
	chown system system /sys/devices/virtual/misc/melfas_touchkey/enable_disable
    chmod 0660 /sys/devices/virtual/misc/melfas_touchkey/enable_disable
	chown radio system /sys/power/dvfslock_ctrl
	chmod 0660 /sys/power/dvfslock_ctrl
	chown system system /sys/class/leds/red/trigger
	chown system system /sys/class/leds/blue/trigger
	chown system system /sys/class/leds/red/delay_on
	chown system system /sys/class/leds/red/delay_off
	chown system system /sys/class/leds/blue/delay_on
	chown system system /sys/class/leds/blue/delay_off
	
	chmod 0666 /proc/net/xt_qtaguid/ctrl
	
# setup for alsa snd device
    chmod 0770 /dev/snd/pcmC0D0c
    chmod 0770 /dev/snd/pcmC0D0p
    chmod 0770 /dev/snd/controlC0
    chmod 0770 /dev/snd/timer
    chmod 0770 /dev/snd/hwC0D0

#panorama directory creation
    mkdir /data/pxtmpdir 0775
    chown system system /data/pxtmpdir
    chmod 0775 /data/pxtmpdir


# Permissions for dvfs lock
    chown system system /sys/power/cpufreq_max_limit
    chown system system /sys/power/cpufreq_min_limit
    chmod 0660 /sys/power/cpufreq_max_limit
    chmod 0660 /sys/power/cpufreq_min_limit

    mount debugfs /sys/kernel/debug /sys/kernel/debug

    setprop ro.build.product SPH-D710
    setprop ro.product.device SPH-D710
    setprop ro.radio.noril yes
	setprop wifi.interface "wlan0"

# Permisions for sensors
    chown radio system /sys/devices/virtual/K3G_GYRO-dev/k3g/gyro_selftest
    chown radio system /sys/devices/virtual/K3G_GYRO-dev/k3g/gyro_get_temp
    chown radio system /sys/devices/virtual/K3G_GYRO-dev/k3g/gyro_power_on
    chown radio system /sys/devices/virtual/accelerometer/accelerometer/acc_file
    chown radio system /sys/devices/virtual/sec/gsensorcal/calibration
	
# Add permission for ATM. 2010.03.20
    chown system radio /sys/devices/platform/i2c-gpio.9/i2c-9/9-0036/power_supply/fuelgauge/fg_read_soc
    chown system radio /sys/devices/platform/i2c-gpio.9/i2c-9/9-0036/power_supply/fuelgauge/fg_reset_soc
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_lpm_state
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/fg_psoc
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/system_rev
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_current_adc
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_test_value
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_temp_adc_spec
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_temp_check
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_full_check
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_type
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/mp3
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/video
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_lp_charging
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/charging_source
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_temp_adc_avg
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_temp_adc
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_temp
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_vfocv
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_soc
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_vol
    
    chown system system /sys/class/backlight/panel/brightness
    chown system system /sys/class/power_supply/battery/temp
    
# Permissions for input devices
    chown system radio /sys/devices/virtual/sec/sec_key/sec_key_pressed

    chown system radio /sys/devices/virtual/sec/sec_touchkey/enable_disable
    chown system radio /sys/devices/virtual/sec/sec_touchkey/recommended_version
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touch_sensitivity
    chown system radio /sys/devices/virtual/sec/sec_touchkey/brightness
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_brightness
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_back
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_menu
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_firm_version_panel
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_firm_version_phone
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_firm_update_status
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/devices/virtual/sec/sec_touchkey/updated_version

    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_firm_version
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_threshould
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_all_delta
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_all_refer
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta4
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer4
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta3
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer3
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta2
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer2
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta1
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer1
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta0
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer0
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/disp_all_deltadata
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/disp_all_refdata
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_module_off
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_module_on

    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_version_panel
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_version_phone
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_update_status 
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_update 
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_threshold
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_config_version
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_touchtype
    

# Permissions for bluetooth
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /dev/ttySAC0
    chmod 0600 /dev/ttySAC0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
	
# Vibetonz
    chmod 0660 /dev/tspdrv
    chown root shell /dev/tspdrv

# Permissions for LCD
    chown radio system /sys/class/lcd/panel/lcd_power
    chown radio system /sys/class/lcd/panel/lcd_type
    chown system media_rw /sys/class/lcd/panel/gamma_mode
    chown system media_rw /sys/class/lcd/panel/power_reduce

# Permissions for mDNIe
    chown system media_rw /sys/class/mdnie/mdnie/mode
    chown system media_rw /sys/class/mdnie/mdnie/outdoor
    chown system media_rw /sys/class/mdnie/mdnie/scenario

# UART switch
# Request of manufacturing application!!! 
    chown radio system /sys/class/sec/uart_switch/UART_SEL/value
    chmod 0664 /sys/class/sec/uart_switch/UART_SEL/value

# permissions for NFC
    setprop ro.nfc.port "I2C"
    chmod 0600 /dev/pn544
    chown nfc nfc /dev/pn544
	
   #permissions for dpram
    chmod 0666 /dev/dpram0
    chmod 0666 /dev/dpram1
    chmod 0666 /dev/dpramerr
    chmod 0666 /dev/ttyCDMA0
    chmod 0666 /dev/ttyCPLOG0
    chown radio radio /dev/dpram0
    chown radio radio /dev/dpram1
    chown radio radio /dev/ttyCPLOG0
	
# MTP Device permission.
	chmod 0660 /dev/usb_mtp_gadget
	chown system system /dev/usb_mtp_gadget

#Wimax 
    chmod 660 /dev/swmxctl
    chmod 660 /dev/uwibro
    chown system system /dev/swmxctl
    chown system system /dev/uwibro	
	
# Vibetonz
    chmod 0777 /dev/tspdrv
    chown root shell /dev/tspdrv
	
# Device Encryption by B2B Security Lab. 
    setprop ro.crypto.keyfile.userdata /efs/metadata
    
# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9
    
# +++++++++++++++++++++++++++++++++++++++++++
# for datarouter
    chown system system /dev/ttyGS0
    chown system system /dev/dun
# +++++++++++++++++++++++++++++++++++++++++++   

    # OTG Test
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0664 /sys/class/host_notify/usb_otg/booster
	
	# CIQ
	chown system system /dev/ttyCIQ0
	chown system system /dev/ttyTRFB0

#RTC_Log
    chmod 0770 /system/bin/rtc_log.sh
    chown system system /system/bin/rtc_log.sh
#RTC_Log

# USB HUB : system properties are linked with sysfs
#  bit :    3     2      1         0
#          AP,   CP, WIMAX, RESERVED
# Enable AP, CP, WIMAX

on property:persist.service.usb.hubport=0
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port enable_wimax
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port enable_cp
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port enable_ap
	write /sys/class/sec/switch/set_usb_path ALL
on property:persist.service.usb.hubport=2
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port disable_wimax
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port enable_cp
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port enable_ap
	write /sys/class/sec/switch/set_usb_path ALL
on property:persist.service.usb.hubport=4
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port enable_wimax
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port disable_cp
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port enable_ap
	write /sys/class/sec/switch/set_usb_path AP
on property:persist.service.usb.hubport=6
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port disable_wimax
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port disable_cp
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port enable_ap
	write /sys/class/sec/switch/set_usb_path AP
on property:persist.service.usb.hubport=8
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port enable_wimax
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port enable_cp
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port disable_ap
	write /sys/class/sec/switch/set_usb_path CP
on property:persist.service.usb.hubport=10
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port disable_wimax
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port enalbe_cp
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port disable_ap
	write /sys/class/sec/switch/set_usb_path CP
on property:persist.service.usb.hubport=12
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port enable_wimax
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port disable_cp
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port disable_ap
on property:persist.service.usb.hubport=14
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port disable_wimax
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port disable_cp
	write /sys/devices/platform/i2c-gpio.17/i2c-17/17-0008/port disable_ap

#service c1-ril-daemon /system/bin/rild
#    class core
#    socket rild stream 660 root radio
#    socket rild-debug stream 660 radio system
#    user root
 #   group radio cache inet misc audio sdcard_rw log
	
# Adb over Network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd
on property:service.adb.tcp.port=-1
    stop adbd
    start adbd    

#service notified_event /system/bin/notified_event
	#class main
    #user system
    #group system
    #socket notified_event stream 0660 root system    

	# tvout
service TvoutService_C /system/bin/bintvoutservice
     class main
     user system
     group graphics	
	 
service gpsd /system/bin/gpsd
    class main
    #socket gps seqpacket 0660 gps system
    user gps
    group system inet sdcard_rw
     
service pppd_cdma /system/bin/pppd_runner
   user root
   group radio cache inet misc system
   disabled
   oneshot
	 
service wpa_supplicant /system/xbin/strace -tt -o/data/wifi.strace /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -puse_p2p_group_interface=1 -e/data/misc/wifi/entropy.bin
    class main
    socket wpa_wlan0 dgram 0660 wifi wifi
    disabled
    oneshot
    
service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
	
# bluetooth mac address
service bdaddr /system/bin/bdaddr_read
    class main
    user root
    disabled
    oneshot
	
# for bluetooth
service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm --no2bytes --tosleep 50000 \
	--baudrate 3000000 --use_baudrate_for_download --patchram /system/bin/bcm4330B1.hcd \
	--scopcm=0,0,0,0,0,0,0,3,3,0  /dev/ttySAC0
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot
	
# for bluetooth rf test.
service bt_dut_cmd /system/bin/bcm_dut
    group bluetooth net_bt_admin
    disabled
    oneshot
    
# Vibetonz
service immvibed /system/bin/immvibed
    class core
    user shell
    group shell
    oneshot
	
on property:ril.cdma.data_state=1
	start pppd_cdma
	setprop ril.cdma.data_state 2

on property:ril.cdma.data_state=0
    stop pppd_cdma


#RTC_Log
service rtc_log /system/bin/sh /system/bin/rtc_log.sh
    class main
    user shell
    group shell
    oneshot	
	
# Anirudh For WiMAX DHCP
service dhcpcd_uwbr0 /system/bin/dhcpcd -ABKL
	class main
    disabled
    oneshot

# wimax cannot send and receive data packet before add route, when subnet mask is 255.255.255.255
service wimax_route /system/bin/route add default dev uwbr0
	class main
    disabled
    oneshot

#for ip renew.
service iprenew_uwbr0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot


	
